:root {
    --main-color: cyan;
}

* {
    padding: 0;
    margin: 0;
}

body, html {
    background-color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.nav-button a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.resume a {
    padding: 8px 16px;
    background: linear-gradient(90deg, #b16cea, #ff6566 50%, #ffa74c);
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.logo {
    text-decoration: none;
    color: var(--main-color);
    font-family: 'Shadows into Light', cursive;
    font-size: 30px;
}