* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
}

.name-logo {
    color: red;
    position: relative;
    text-decoration: none;
    color: var(--bs-black);
    font-size: 2rem;
}



.nav-links a {
    text-decoration: none;
    color: var(--bs-black);
    font-size: 20px;
    padding: 10px;
    margin-right: 15px;
}

.intro {
  background: #0F172A;
  color: #E5E7EB;
  padding: 40px;
}

.intro h1 span {
  color: #38BDF8;
}

.intro h2 {
  color: #22D3EE;
}

.intro p {
  color: #CBD5F5;
}