@import url("https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "LXGW Wenkai Mono TC", monospace;
}

body, html {
  width: 100%;
  min-height: 100vh;
}

body {
  background: url('/images/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

.name-logo {
  text-decoration: none;
  margin-left: 10px;
  margin-top: 10px;
  color: white;
  font-size: 2rem;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 1px;
}

.intro {
  margin: 9% 0 0 6%;
  max-width: 600px;
}

h1 {
  margin: 15px;
  font-size: 3rem;
  color: white;
}
.multiText {
  color: wheat;
}

h2 {
  color: white;
  margin: 15px;
  font-size: 2rem;
}

.about-me {
  margin: 15px;
  font-size: 1.5rem;
  color: white;
}